.App {
  text-align: center;
  direction: rtl;
  font-family: fontCR,courier new,Courier,Droid Sans Mono,monospace!important;
  font-size: 16px;
}
table tr {
  display: flex;
  justify-content: flex-start;
}
.song, .chords {
  text-align: right;
}

.chords {
  direction: ltr;
}

.chords {
  color: blue;
}

.tone-select {
  direction: ltr;
}

.ArtistAndSongName {
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
